.about-me-page {
    $color: $colorAlternative01;
    $textColor: $bgColor02;

    background: $color;

    &:before {
        right: -25%;
        bottom: -20%;
        background: url('../img/icons/avatar.svg') no-repeat center;
    }

    > section {
        color: $textColor;

        &.about-me-01 {
            position: relative;
            left: 50%;
            display: table;
            transform: translateX(-50%) translate3d(0,0,0);
            width: 635px;
            height: 632px;

            .image-circle {
                z-index: 3;
                position: absolute;
                top: 45px;
                left: 300px;
                width: 192px;
                height: 192px;
                border-radius: 50%;
                border: 15px solid $color;
                background: #FFF;
                animation-delay: 1s;
    
                > img {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    animation-delay: 1.25s;
                }
            }
    
            .white-circle-01 {
                z-index: 2;
                position: absolute;
                width: 500px;
                height: 500px;
                top: -260px;
                left: -110px;
                border-radius: 50%;
                background: #FFF;
    
                > h1 {
                    position: absolute;
                    right: 130px;
                    bottom: 10px;
                    animation-delay: 1.25s;
                }
            }
    
            .transparent-circle-01 {
                z-index: 1;
                position: absolute;
                top: 0;
                width: 632px;
                height: 632px;
                border-radius: 50%;
                background: rgba(#FFF, .15);
                animation-delay: .5s;
    
                > table {
                    position: relative;
                    top: 280px;
                    left: 130px;
                    font-size: 23px;
                    line-height: 1.4;
    
                    tr {
                        td {
                            vertical-align: top;

                            &:first-child {
                                width: 150px;
                                font-weight: lighter;
                                text-align: right;
                                padding-right: 15px;
                            }
                            &:last-child {
                                width: 250px;
                            }
                        }
                    }
                }
            }
        }

        &.about-me-02 {
            padding: 100px;
            max-width: $page-max-width;
            margin: auto;
            text-align: center;
            animation-delay: .200s;
            
            @media only screen and (max-width: 999px) {
                padding: 30px;
            }
        }

        &.about-me-03 {
            position: relative;
            left: 50%;
            display: table;
            transform: translateX(-50%) translate3d(0,0,0);
            height: 632px;
            width: 100%;
            max-width: 632px;
            margin-bottom: 80px;

            .title-image {
                z-index: 2;
                box-sizing: border-box;
                position: relative;
                width: 100%;
                max-width: 632px;
                padding-right: 200px;
                height: 140px;
                text-align: right;
                display: table;
                animation-delay: .5s;

                .title-image-logo {
                    z-index: 3;
                    position: absolute;
                    right: 20px;
                    width: 140px;
                    height: 140px;
                    border-radius: 50%;
                    border: 15px solid #FFF;
                    background: #FFF;
                    animation-delay: .5s;
        
                    > img {
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        animation-delay: .75s;
                    }
                }
    
                > h1 {
                    display: table-cell;
                    vertical-align: middle;
                    margin: 0;
                    color: #FFF;
                    animation-delay: .5s;

                    > span {
                        color: $bgColor02;
                    }
                }
            }
                
            .about-me-03-text {
                z-index: 2;
                position: relative;
                font-size: 24px;
                text-align: right;
                padding-left: 50px;
                padding-right: 80px;
                padding-top: 50px;
                width: 100%;
                max-width: 632px;
                box-sizing: border-box;
                animation-delay: 1.75s;
            
                @media only screen and (max-width: 999px) {
                    padding-left: 40px;
                    padding-right: 40px;
                }
            }
    
            .transparent-circle-01 {
                z-index: 1;
                position: absolute;
                top: calc(50% - 316px);
                left: 0;
                width: 632px;
                height: 632px;
                border-radius: 50%;
                background: rgba(#FFF, .15);
                animation-delay: 1.25s;
            }
        }
    }
}