html, body {
    font-size: 15px;
    color: #FFF;
    margin: 0;
    padding: 0;
    background: transparent;
    animation-name: fadeIn;
    font-family: 'Titillium_Web';
    overflow: hidden;
}

.animated {
    animation-duration: .5s;
}

body {
    > div {
        will-change: transform;
        &[class*="selected-page"] {
            @media only screen and (min-width: 1000px) {
                transform: rotate(45deg) translateZ(0);
            }
                    
            .main-page {
                .main-divisions {
                    > section {
                        cursor: default;
                        @media only screen and (min-width: 1000px) {
                            > div { opacity: 0; }
                        }
                    }
                }

                .main-photo-circle {
                    @media only screen and (min-width: 1000px) {
                        box-shadow: 0 0 35px rgba(0, 0, 0, 0.25);
                    }
                }
            }
        }

        &.general-page {
            position: fixed;
            left: 0;
            top: 0;
            width: 100vw;
            height: 100vh;

            user-select: none;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;

            transition-duration: .5s;

            &:not([class*="selected-page"]) {
            }
            
            @media only screen and (min-width: 1000px) {
                &::before {
                    transition-duration: .3s;
                    content: '';
                    position: fixed;
                    z-index: 0;
                    top: calc(-150% - 1px);
                    left: -25%;
                    width: 150%;
                    height: 200%;
                    background: $bgColor02;
                    transform: rotate(225deg) translate3d(0,0,0);
                    transform-origin: bottom center;
                }
            
                &::after {
                    transition-duration: .3s;
                    content: '';
                    position: fixed;
                    z-index: 0;
                    bottom: -150%;
                    right: -25%;
                    width: 150%;
                    height: 200%;
                    background: $bgColor01;
                    transform: rotate(225deg) translate3d(0,0,0);
                    transform-origin: top center;
                }
            }
            
            @media only screen and (min-width: 1000px) {
                &.selected-page {
                    &-01 {
                        left: -50%;
                        top: 50%;
                        
                        .main-page {
                            &::before {
                                border-radius: 0 100% 0 0;
                                transform-origin: bottom left;
                                background-position: 25px 47px;
                                left: 50%;
                                top: calc(50% - 100px);
                            }

                            .main-divisions {
                                > section:nth-child(1) {
                                    &::before,
                                    &::after {
                                        transform: rotate(45deg) scale(var(--scale-divisions-full)) translate3d(0,0,0) !important;
                                    }
                                }
                            }
                        }
                    }
                    &-02 {
                        left: -50%;
                        top: -50%;
                        
                        .main-page {
                            &::before {
                                border-radius: 0 100% 0 0;
                                background-position: 0 0;
                                transform-origin: bottom left;
                                left: 50%;
                                top: calc(50% - 100px);
                                transform: rotate(45deg);
                            }

                            .main-divisions {
                                > section:nth-child(2) {
                                    &::before,
                                    &::after {
                                        transform: rotate(135deg) scale(var(--scale-divisions-full)) !important;
                                    }
                                }
                            }
                        }
                    }
                    &-03 {
                        left: 50%;
                        top: -50%;
                        
                        .main-page {
                            .main-divisions {
                                > section:nth-child(3) {
                                    &::before,
                                    &::after {
                                        transform: rotate(225deg) scale(var(--scale-divisions-full)) !important;
                                    }
                                }
                            }
                        }
                    }
                    &-04 {
                        left: 50%;
                        top: 50%;
                        
                        .main-page {
                            &::before {
                                border-radius: 100% 0 0 0;
                                background-position: 0 0;
                            }

                            .main-divisions {
                                > section:nth-child(4) {
                                    &::before,
                                    &::after {
                                        transform: rotate(-45deg) scale(var(--scale-divisions-full)) !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        &.close-current-page {
            cursor: pointer;
            display: block;
            position: fixed;
            z-index: 99;
            font-size: 35px;
            color: #FFF;
            background: $bgColor02 url('../img/icons/close.svg') center;
            width: 100px;
            height: 100px;
            transition-duration: .4s;
            background-repeat: no-repeat;
            background-size: 35%;

            @media only screen and (min-width: 1000px) {
                animation-delay: .4s;
            }

            &::before {
                content: '';
                z-index: 98;
                position: absolute;
                width: calc(200% + 30px);
                height: calc(200% + 30px);
                border: 15px solid rgba(#FFF, .1);
                border-radius: 50%;
                box-sizing: border-box;
                box-shadow: 0 0 20px rgba(#000, .2);
                transition-duration: .5s;
            }

            &.bottom {
                &-left {
                    border-radius: 0 100% 0 0;
                    left: 0;
                    bottom: 0;
                    background-position: 20px 45px;

                    &::before {
                        bottom: calc(-100% - 15px);
                        left: calc(-100% - 15px);
                    }
                }
                &-right {
                    border-radius: 100% 0 0 0;
                    right: 0;
                    bottom: 0;
                    background-position: 50px 50px;

                    &::before {
                        bottom: calc(-100% - 15px);
                        right: calc(-100% - 15px);
                    }
                }
            }

            &.top {
                &-left {
                    border-radius: 0 0 100% 0;
                    left: 0;
                    top: 0;
                    background-position: 10px 25px;

                    &::before {
                        top: calc(-100% - 15px);
                        left: calc(-100% - 15px);
                    }
                }
                &-right {
                    border-radius: 0 0 0 100%;
                    right: 0;
                    top: 0;
                    background-position: 45px 20px;

                    &::before {
                        top: calc(-100% - 15px);
                        right: calc(-100% - 15px);
                    }
                }
            }

            &:hover {
                &::before {
                    box-shadow: 0 0 50px rgba(#000, .35);
                }
            }
        }

        &.current-page {
            z-index: 98;
            position: fixed;
            box-sizing: border-box;
            top: 0;
            bottom: 0;
            width: 100%;
            color: $bgColor02;
            overflow: hidden;

            h1, h2 {
                font-size: 55px;
                margin-top: 0;
            }

            h3, h4 {
                font-size: 40px;
                margin-top: 0;
                font-weight: 500;
            }

            p {
                font-size: 20px;
                text-align: justify;
            }

            > section {
                width: 100vw;
                height: 100vh;
                overflow-y: auto;
                overflow-x: hidden;
                box-sizing: border-box;

                > * {
                    position: relative;
                    z-index: 98;
                }

                &:before {
                    opacity: .04;
                    content: '';
                    position: fixed;
                    z-index: 97;
                    display: block;
                    background-size: contain;
                    width: 80%;
                    height: 80%;
                    pointer-events: none;
                }
            }
        }
    }
}

.comment-block {
    position: relative;
    text-align: justify;
    padding: 20px;
    color: $bgColor02;
    font-size: 24px;
    font-style: italic;

    &::before {
       content: '❝'; 
       position: absolute;
       left: -15px;
       top: -15px;
       color: #FFF;
       font-size: 50px;
    }

    &::after {
        content: '❞'; 
        position: absolute;
        right: -15px;
        bottom: -15px;
        color: #FFF;
        font-size: 50px;
    }
}