<section class="about-me-page">

    <section class="about-me-01">
        <div class="image-circle animated slideInDown">
            <img src="assets/img/photo.jpg" class="animated flipInY">
        </div>
        <div class="white-circle-01 animated slideInLeft">
            <h1 class="l-h-0-9 text-right animated slideInRight">
                Sobre<br/>
                <span class="f-w-light">mim</span>
            </h1>
        </div>
        <div class="transparent-circle-01 animated slideInRight">
            <table>
                <tr>
                    <td>MEU NOME</td>
                    <td>ERIC FERREIRA</td>
                </tr>
                <tr>
                    <td>DE ONDE SOU</td>
                    <td>DIVINÓPOLIS</td>
                </tr>
                <tr>
                    <td>IDADE</td>
                    <td>27 anos</td>
                </tr>
                <tr>
                    <td>FORMAÇÃO</td>
                    <td>ENGENHARIA DA COMPUTAÇÃO</td>
                </tr>
                <tr>
                    <td>HOBBIE</td>
                    <td>FICAR DE BOAS :D</td>
                </tr>
                <tr>
                    <td>MORO EM</td>
                    <td>UBERLÂNDIA / MG</td>
                </tr>
            </table>
        </div>
    </section>

    <section class="about-me-02 wow animated fadeIn">
        <div class="comment-block wow animated slideInUp">
            Minha jornada na TI inicou-se muito cedo. Apesar de ter tido meu primeiro PC aos 7 anos, foi somente aos 14 para 15 anos
            que fui iniciar realmente na área da TI. Na época, havia feito um <i>server</i> de um MMORPG famoso chamado MU (que era uma febre por sinal), 
            e o que eu mais queria era ter meu servidor, só meu, estava empolgado com isso rsrs. 
            Onde fiz o site para que os jogadores pudessem ver o ranqueamento, logar, lançar pontos e outras infinidades de coisas. 
            Foi aí que começou minha jornada, me aventurando em <strong>PHP</strong>, <strong>HTML</strong> + <strong>CSS</strong> e <strong>SQL Server</strong>.
            <br/><br/>
            Algum tempo depois, vi que minha área era a computação. Apaixonado por desenvolvimento, 
            prestrei vestibular para <strong>Engenharia da computação</strong>, e depois disso iniciou-se uma grande jornada 
            que perdura até hoje, enfrentando desafios e superando os limites.
        </div>
    </section>

    <section class="about-me-03">
        <div class="wow animated slideInUp">
            <div class="title-image wow animated fadeIn">
                <div class="title-image-logo wow animated slideInRight">
                    <img src="assets/img/current_company.jpg" class="wow animated flipInY">
                </div>
                <h1 class="l-h-0-9 text-right wow animated slideInLeft">
                    Onde<br/>
                    <span class="f-w-light">trabalho</span>
                </h1>
            </div>
            <div class="transparent-circle-01 wow animated slideInRight">
            </div>
            <div class="about-me-03-text wow animated fadeIn">
                Atualmente estou trabalhando no <strong>Social Bank</strong>, desde o final de 2018.
                Um banco digital, que visa resignificar a forma que as pessoas se relacionam com o seu dinheiro de maneira colaborativa, 
                através da desburocratização disrupção.
                <br/><br/>
                Atuo como <strong>Especialista em sistemas</strong>, com grande foco em <strong>Web</strong>.
            </div>
        </div>
    </section>

</section>