<section class="my-skills-page">

    <section class="my-skills-01 wow animated fadeIn">
        <h1 class="l-h-0-9 text-left animated slideInLeft">
            Minhas<br/>
            <span class="f-w-100">habilidades</span>
        </h1>

        <div class="animated fadeIn">
            <p class="animated slideInUp">
                Sempre tive um apreço muito grande por solucionar problemas lógicos e desenvolver 
                soluções que resolvam problemas críticos. Sou um daqueles poucos que gostam do famoso “fazer do zero”, 
                defendo a teoria de que dependendo do que for ser feito, vale muito mais a pena se criar um próprio 
                do que usar o de terceiro e ficar preso as limitações impostas pelo mesmo. Não estou defendendo que 
                devemos reinventar a roda, mas acredito que ter um componente (por exemplo) ou um código que seja de 
                propriedade e domínio seu, seja bem mais fácil evoluí-lo, sendo para uma solução única ou genérica.
            </p>
        </div>
        <div class="animated fadeIn">
            <p class="animated slideInUp">
                Seja no front-end ou no back-end, sempre acho importante levarmos aplicações de herança e polimorfismo, 
                além também do emprego de design patterns que ajudam muito a reduzir códigos e trazer mais qualidade e 
                desempenho, tanto no código quanto na usabilidade da aplicação como um todo.
            </p>
        </div>
    </section>

    <section class="my-skills-02 wow animated fadeIn">
        <h1 class="l-h-0-9 text-left wow animated slideInLeft">
            Linguagens<br/>
            <span class="f-w-100">de domínio</span>
        </h1>
        <section>
            <div class="my-skills-02-orange wow animated slideInLeft">
                HTML<br/>
                + CSS
                <div><span style="width: 90%;"></span></div>
            </div>
            <div class="my-skills-02-green wow animated fadeIn">
                Java<br/>
                Script
                <div><span style="width: 85%;"></span></div>
            </div>
            <div class="my-skills-02-blue wow animated slideInRight">
                .NET<br/>
                C#
                <div><span style="width: 70%;"></span></div>
            </div>
        </section>
    </section>

    <section class="my-skills-03 wow animated fadeIn">
        <h1 class="l-h-0-8 text-right wow animated slideInRight">
            Pontos<br/>
            <span class="f-w-100">
                fortes e<br/>
                diferenciais
            </span>
        </h1>

        <div class="my-skills-box wow animated slideInUp">
            <p class="wow animated slideInRight">- Criação de componentes complexos</p>
            <p class="wow animated slideInRight">- Facilidade para ensinar</p>
            <p class="wow animated slideInRight">- Lógica</p>
            <p class="wow animated slideInRight">- Trabalho em equipe</p>
            <p class="wow animated slideInRight">- Produtividade com qualidade</p>
            <p class="wow animated slideInRight">- Criatividade</p>
            <p class="wow animated slideInRight">- Amor pelo que faço!</p>
        </div>
    </section>

</section>