.my-works-page {
    $color: $bgColor01;
    $textColor: #FFF;

    background: $color;

    &:before {
        right: -25%;
        top: -10%;
        background: url('../img/icons/code.svg') no-repeat center;
    }

    > section {
        color: $textColor;
        width: 100%;
        max-width: $page-max-width;
        padding: 50px 150px 50px 100px;
        box-sizing: border-box;
        animation-delay: .5s;
            
        @media only screen and (max-width: 999px) {
            padding: 40px;
            
            &:last-child {
                padding-bottom: 150px;
            }
        }

        h1, h3 {
            animation-delay: .5s; 

            > span {
                font-size: 45px;
            }
        }

        &.my-works-01 {
        }

        &.my-works-02 {
            padding-top: 0;
        }

        &.my-works-03 {
        }

        .my-works-card {
            position: relative;
            display: table;
            max-width: $page-max-width;
            background: $bgColor02;
            border-left: 6px solid #FFF;
            color: #FFF;
            padding: 15px 30px 41px 20px;
            margin-bottom: 25px;
            animation-delay: .5s;
            box-sizing: border-box;
            
            @media only screen and (max-width: 999px) {
                width: 100%;
            }

            > h4 {
                width: 100%;
                font-size: 30px;
                font-weight: 500;
                line-height: 1;
                margin: 0;
                animation-delay: .6s;
            }

            > p {
                width: 100%;
                font-size: 18px;
                font-weight: 100;
                line-height: 1;
                margin: 10px 0;
                animation-delay: .6s;
            }
    
            a {
                position: absolute;
                bottom: 15px;
                left: 20px;
                width: calc(100% - 50px);
            }

            a,
            a:visited,
            a:active {
                font-size: 17px;
                font-weight: normal;
                color: $textColor;
                text-decoration: none;
                animation-delay: .6s;
            }
            a:hover {
                text-decoration: underline;
            }

            &::after {
                content: '';
                display: table;
                position: absolute;
                right: 7px;
                top: 7px;
                font-size: 15px;
                font-weight: bold;
            }

            &.typescript {
                border-color: $colorTypescript;

                &::after {
                    content: 'TS';
                    color: $colorTypescript;
                }
            }

            &.csharp {
                border-color: $colorCsharp;

                &::after {
                    content: 'C#';
                    color: $colorCsharp;
                }
            }

            &.medium {
                border-color: $colorMedium;

                &::after {
                    content: '';
                    width: 18px;
                    height: 18px;
                    background: url('../img/icons/medium.svg#colored');
                    background-size: 18px;
                    color: $colorMedium;
                }
            }
        }
    }
}