.talk-me-page {
    $color: $colorAlternative02;
    $textColor: $bgColor02;

    background: $color;

    &:before {
        right: -25%;
        bottom: -20%;
        background: url('../img/icons/letter.svg') no-repeat center;
    }

    > section {
        width: 100%;
        max-width: $page-max-width;
        padding: 50px 150px 50px 100px;
        box-sizing: border-box;
        animation-delay: .5s;
            
        @media only screen and (max-width: 999px) {
            padding: 50px 40px;
        }

        h1 {
            animation-delay: .5s; 

            > span {
                font-size: 45px;
            }
        }
            
        @media only screen and (max-width: 999px) {
            h1 {
                display: block;
                padding-right: 120px;
            }
        }

        &.talk-me-01 {
            > section {
                > div {
                    display: table;
                    margin-bottom: 40px;
                    animation-delay: .7s;
            
                    @media only screen and (max-width: 999px) {
                        width: 100%;
                    }
    
                    > div {
                        display: table-cell;
                        vertical-align: middle;
                        animation-delay: .7s;
            
                        @media only screen and (max-width: 999px) {
                            display: table;
                            margin: auto;
                            text-align: center;
                        }

                        &:first-child {
                            width: 100px;
    
                            > div {
                                border: 15px solid $textColor;
                                border-radius: 50%;
                                background: $textColor;
    
                                > img {
                                    display: block;
                                    width: 70px;
                                    height: 70px;
                                }
                            }
                        }
    
                        &:last-child {
                            font-size: 30px;
                            font-weight: bold;
                            line-height: 1;
            
                            @media only screen and (min-width: 1000px) {
                                padding-left: 30px;
                            }
    
                            a, a:visited, a:active {
                                font-size: 24px;
                                font-weight: normal;
                                color: $textColor;
                                text-decoration: none;
                            }
                            a:hover {
                                text-decoration: underline;
                            }
                        }
                    }
    
                    &:last-child {
                        > div {
                            &:first-child {
                                > div {
                                    border: 20px solid $textColor;
        
                                    > img {
                                        width: 60px;
                                        height: 60px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}