.main-page {
    position: relative;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100%;
    animation-delay: .2s;



    $main-circle-size: 450px;

    @media only screen and (min-width: 1000px) {
        .main-circle {
            position: absolute;
            transform: translate(-50%, -50%) translate3d(0,0,0);
            top: 50%;
            left: 50%;
            box-sizing: border-box;
            width: $main-circle-size;
            height: $main-circle-size;
            border: 17px solid rgba(#FFF, .03);
            border-radius: 50%;
            box-shadow: 0 0 25px rgba(#000, .4);
        }
    }

    @media only screen and (max-width: 999px) {
        .main-circle {
            display: none;
        }
    }

    .main-divisions {
        height: 100%;
        position: relative;

        > section {
            cursor: pointer;
            &::before {
                content: '';
                transition-duration: .6s;
                z-index: 3;
                transform-origin: bottom right;
                position: absolute;
                width: calc(#{$main-circle-size / 2} - 17px);
                height: calc(#{$main-circle-size / 2} - 17px);
                border-radius: 100% 0 0 0;
                bottom: 50%;
                right: 50%;
            }

            @media only screen and (min-width: 1000px) {
                &::after {
                    content: '';
                    transition-duration: .6s;
                    z-index: 4;
                    transform-origin: bottom right;
                    position: absolute;
                    width: calc(#{$main-circle-size / 2} - 17px);
                    height: calc(#{$main-circle-size / 2} - 17px);
                    border-radius: 100% 0 0 0;
                    bottom: 50%;
                    right: 50%;
                    box-shadow: 0 0 100px rgba(#FFF, 0);
                    opacity: 0;
                }
            }

            > div {
                transition-duration: .4s;
                z-index: 5;
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                align-content: center;
                text-align: center;
                transform: translate(-50%, -50%) translate3d(0,0,0);

                &::before {
                    transition-duration: .4s;
                    content: '';
                    display: block;
                    margin: auto;
                    width: 55px;
                    height: 55px;
                    background-repeat: no-repeat;
                    background-position: center;
                }

                > span {
                    position: absolute;
                    transition-duration: .4s;
                    font-size: 25px;
                    line-height: 95%;
                    opacity: 0;
                    
                    @media only screen and (min-width: 1000px) {
                    }
                }
            }
    
            &:nth-child(1) {
                color: $bgColor01;

                @media only screen and (min-width: 1000px) {
                    &::before {
                        background-color: $colorAlternative01;
                        transform: rotate(45deg) translate3d(0,0,0);
                    }
                }

                &::after {
                    box-shadow: 0 0 100px rgba($colorAlternative01, .5);
                    transform: rotate(45deg) translate3d(0,0,0);
                }

                @media only screen and (max-width: 999px) {
                    &::before {
                        background-color: $colorAlternative01;
                        transform: rotate(45deg) scale(var(--scale-divisions-y)) translate3d(0,0,0);
                    }
                }

                > div {
                    left: 50%;
                    bottom: calc(50% + 100px);
                    width: $main-circle-size / 2;

                    /* @media only screen and (max-width: 999px) {
                        padding-bottom: 55px;
                    } */

                    &::before {
                        background-image: url('../img/icons/avatar.svg');
                    }

                    > span { bottom: -5px; }
                }

                &:hover {
                    right: calc(50% + -2px);
                    bottom: calc(50% + -2px);
                }
            }
    
            &:nth-child(2) {
                color: $bgColor01;

                @media only screen and (min-width: 1000px) {
                    &::before {
                        background-color: $colorLight;
                        transform: rotate(135deg) translate3d(0,0,0);
                    }
                }

                &::after {
                    box-shadow: 0 0 100px rgba($colorLight, .5);
                    transform: rotate(135deg) translate3d(0,0,0);
                }

                @media only screen and (max-width: 999px) {
                    &::before {
                        background-color: $colorLight;
                        transform: rotate(135deg) scale(var(--scale-divisions-x)) translate3d(0,0,0);
                    }
                }

                > div {
                    top: 50%;
                    left: calc(50% + 163px);
                    height: $main-circle-size / 2;
                    text-align: left;

                    &::before {
                        background-image: url('../img/icons/settings.svg');
                    }

                    > span { left: 30px; }

                    /* @media only screen and (max-width: 999px) {
                        > span { left: 65px; }
                    } */
                }
            }
    
            &:nth-child(3) {
                color: $bgColor02;

                @media only screen and (min-width: 1000px) {
                    &::before {
                        background-color: $colorAlternative02;
                        transform: rotate(225deg) translate3d(0,0,0);
                    }
                }

                &::after {
                    box-shadow: 0 0 100px rgba($colorAlternative02, .5);
                    transform: rotate(225deg) translate3d(0,0,0);
                }

                @media only screen and (max-width: 999px) {
                    &::before {
                        background-color: $colorAlternative02;
                        transform: rotate(225deg) scale(var(--scale-divisions-y)) translate3d(0,0,0);
                    }
                }

                > div {
                    left: 50%;
                    top: calc(50% + 155px);
                    width: $main-circle-size / 2;

                    /* @media only screen and (max-width: 999px) {
                        padding-top: 130px;
                    } */
                    
                    &::before {
                        background-image: url('../img/icons/letter.svg');
                    }

                    > span { top: 0; }

                    /* @media only screen and (max-width: 999px) {
                        > span { top: 80px; }
                    } */
                }
            }
    
            &:nth-child(4) {
                color: $colorLight;

                @media only screen and (min-width: 1000px) {
                    &::before {
                        background-color: $bgColor01;
                        transform: rotate(-45deg) translate3d(0,0,0);
                    }
                }

                &::after {
                    box-shadow: 0 0 100px rgba(95, 95, 95, .5);
                    transform: rotate(-45deg) translate3d(0,0,0);
                }

                @media only screen and (max-width: 999px) {
                    &::before {
                        background-color: $bgColor01;
                        transform: rotate(-45deg) scale(var(--scale-divisions-x)) translate3d(0,0,0);
                    }
                }

                > div {
                    opacity: 1;
                    transition-duration: .4s;
                    top: 50%;
                    right: calc(50% + 107px);
                    height: $main-circle-size / 2;
                    text-align: right;

                    &::before {
                        background-image: url('../img/icons/code.svg');
                    }

                    > span { right: 30px; }

                    /* @media only screen and (max-width: 999px) {
                        > span { right: 65px; }
                    } */
                }
            }

            @media only screen and (min-width: 1000px) {
                &:hover {
                    &::before,
                    &::after {
                        opacity: 1;
                    }

                    &:nth-child(1) {
                        &::before,
                        &::after {
                            transform: rotate(45deg) scale(var(--scale-divisions-y)) translate3d(0,0,0);
                        }
                        > div { padding-bottom: 55px; }
                    }

                    &:nth-child(2) {
                        &::before,
                        &::after {
                            transform: rotate(135deg) scale(var(--scale-divisions-x)) translate3d(0,0,0);
                        }

                        > div {
                            > span { left: 65px; }
                        }
                    }

                    &:nth-child(3) {
                        &::before,
                        &::after {
                            transform: rotate(225deg) scale(var(--scale-divisions-y)) translate3d(0,0,0);
                        }

                        > div {
                            padding-top: 130px;

                            > span { top: 80px; }
                        }
                    }

                    &:nth-child(4) {
                        &::before,
                        &::after {
                            transform: rotate(-45deg) scale(var(--scale-divisions-x)) translate3d(0,0,0);
                        }
                        
                        > div {
                            > span { right: 65px; }
                        }
                    }

                    > div {
                        > span {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

    .main-photo-circle {
        z-index: 4;
        position: absolute;
        transform: translate(-50%, -50%) translate3d(0,0,0);
        top: 50%;
        left: 50%;
        width: 200px;
        height: 200px;
        border: 15px solid transparent;
        border-radius: 50%;
        box-shadow: 0 0 35px rgba(#000, .5);
        background: rgba(255,255,255, .15);

        > div {
            display: block;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: $bgColor01;
            background-image: url('../img/eric_ferreira.svg');
            background-repeat: no-repeat;
            background-position: center;
        }

        > img {
            display: block;
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    }
}