.my-skills-page {
    $color: $colorLight;
    $textColor: $bgColor02;

    background: $color;
    padding-bottom: 0;
    @media only screen and (max-width: 999px) {
        padding-bottom: 60px;
    }

    &::before {
        right: -25%;
        top: -20%;
        background: url('../img/icons/settings.svg') no-repeat center;
    }

    > section {
        display: table;
        margin: auto;
        width: 100%;
        max-width: $page-max-width;
        padding: 50px 100px 50px 150px;
        animation-delay: .5s;
        box-sizing: border-box;
        color: $textColor;
            
        @media only screen and (max-width: 999px) {
            padding: 50px 40px;

            &:first-child {
                padding-top: 130px;
            }
        }

        h1 {
            animation-delay: .5s; 
        }

        &.my-skills-01 {
            > div {
                &:nth-child(2) {
                    animation-delay: .6s;
                    animation-duration: 1s;
    
                    > p {
                        animation-delay: .5s;
                    }
                }

                &:nth-child(3) {
                    animation-delay: 1.0s;
                    animation-duration: 1.8s;
    
                    > p {
                        animation-delay: .8s;
                    }
                }
            }
        }

        &.my-skills-02 {
            padding-top: 0;
            padding-bottom: 10px;

            > section {
                display: table;
                margin: auto;
                width: auto;

                > div {
                    display: table;
                    float: left;
                    min-width: 200px;
                    padding-bottom: 25px;
                    text-align: center;
                    font-size: 32px;
                    line-height: 1;
                    font-weight: bold;
                    animation-duration: 1.2s;
            
                    @media only screen and (max-width: 999px) {
                        float: none;
                        margin: auto;
                    }
            
                    @media only screen and (min-width: 1000px) {
                        &:not(:last-child) {
                            margin-right: 50px;
                        }
                    }
    
                    > div {
                        margin-top: 15px;
                        border: 8px solid #C2C2C2;
                        height: 46px;
                        border-radius: 23px;
                        position: relative;
                        box-sizing: border-box;
                        overflow: hidden;
                        background: linear-gradient(to right, #FFF 80%, transparent);
    
                        > span {
                            transition-duration: 1s;
                            height: 100%;
                            margin: 0 -1px;
                            padding-right: 1px;
                            min-width: 1%;
                            display: block;
                            background: #999;
                        }
                    }
    
                    &.my-skills-02 {
                        &-orange {
                            color: #FF6000;
                            > div {
                                > span {
                                    background-color: #FF6000;
                                }
                            }
                        }
        
                        &-green {
                            color: #93C300;
                            > div {
                                > span {
                                    background-color: #93C300;
                                }
                            }
                        }
        
                        &-blue {
                            color: #0081EE;
                            > div {
                                > span {
                                    background-color: #0081EE;
                                }
                            }
                        }
                    }
                }
            }
        }

        &.my-skills-03 {
            > h1 {
                padding-right: 50px;

                > span {
                    font-size: 45px;
                }
            }

            .my-skills-box {
                margin-top: -120px;
                text-align: left;
                padding: 20px 30px;
                font-size: 25px;
                background: #FFF;
                box-shadow: 5px 5px 15px rgba(#000, .1);
                line-height: 1.1;

                > p {
                    text-align: left;
                }
            
                @media only screen and (max-width: 999px) {
                    padding-top: 90px;
                }
            }
        }
    }
}