<section class="my-works-page">

    <section class="my-works-01 wow animated fadeIn">
        <h1 class="l-h-0-9 text-left wow animated slideInLeft">
            Meus<br/>
            <span class="f-w-100">trabalhos</span>
        </h1>
    </section>

    <section class="my-works-02 wow animated fadeIn">
        <h3 class="l-h-0-9 text-left wow animated slideInLeft">
            Últimos <span class="f-w-100">open sources</span>
        </h3>

        <div class="my-works-card typescript wow animated slideInRight">
            <h4 class="wow animated fadeIn">nimble</h4>
            <p class="wow animated fadeIn">
                Framework front-end. Destinado principalmente aos desenvolvedores de websites e hotsites, o Nimble é um Framework
                que permite desenvolver em TypeScript desde websites até aplicações mais complexas.
            </p>
            <a class="wow animated fadeIn text-truncate text-truncate" href="https://github.com/ericferreira1992/nimble" target="_blank">
                https://github.com/ericferreira1992/nimble
            </a>
        </div>

        <div class="my-works-card angular wow animated slideInRight">
            <h4 class="wow animated fadeIn">ag-table</h4>
            <p class="wow animated fadeIn">
                Componente em Angular 8+. Componente de DataTable extremamente completo, 
                permite listar dados de forma fácil e performática.
            </p>
            <a class="wow animated fadeIn text-truncate text-truncate" href="https://github.com/ericferreira1992/ag-table" target="_blank">
                https://github.com/ericferreira1992/ag-table
            </a>
        </div>

        <div class="my-works-card angular wow animated slideInRight">
            <h4 class="wow animated fadeIn">ag-virtual-scroll</h4>
            <p class="wow animated fadeIn">
                Componente em Angular 8+. Promete aumentar performance em items listados dentro de containers.<br/>
                Além de ser uma opção leve, funciona também com items com alturas diferentes.
            </p>
            <a class="wow animated fadeIn text-truncate text-truncate" href="https://github.com/ericferreira1992/ag-virtual-scroll" target="_blank">
                https://github.com/ericferreira1992/ag-virtual-scroll
            </a>
        </div>

        <div class="my-works-card angular wow animated slideInRight">
            <h4 class="wow animated fadeIn">slider-carousel</h4>
            <p class="wow animated fadeIn">
                Componente em Angular 8+. Carrossel de imagens, simples e leve com navegação em slide dragging.
            </p>
            <a class="wow animated fadeIn text-truncate text-truncate" href="https://github.com/ericferreira1992/slider-carousel" target="_blank">
                https://github.com/ericferreira1992/slider-carousel
            </a>
        </div>

        <div class="my-works-card angular wow animated slideInRight">
            <h4 class="wow animated fadeIn">alphabet-filter</h4>
            <p class="wow animated fadeIn">
                Componente em Angular 8+. Container de listagem alfabética, com busca e indicador de letras à direita.
            </p>
            <a class="wow animated fadeIn text-truncate" href="https://github.com/ericferreira1992/alphabet-filter" target="_blank">
                https://github.com/ericferreira1992/alphabet-filter
            </a>
        </div>

        <div class="my-works-card csharp wow animated slideInRight">
            <h4 class="wow animated fadeIn">DynamicToObject</h4>
            <p class="wow animated fadeIn">Classe que mapea objeto dynamic inacessível entre duas DLL distintas</p>
            <a class="wow animated fadeIn text-truncate" href="https://github.com/ericferreira1992/dynamicToObject" target="_blank">
                https://github.com/ericferreira1992/dynamicToObject
            </a>
        </div>
    </section>

    <section class="my-works-03 wow animated fadeIn">
        <h3 class="l-h-0-9 text-left wow animated slideInLeft">
            Últimos <span class="f-w-100">artigos publicados</span>
        </h3>

        <div class="my-works-card medium wow animated slideInRight">
            <h4 class="wow animated fadeIn">Extension methods em Angular 6+</h4>
            <p class="wow animated fadeIn">Artigo que ensina a como fazer uma extensão de uma classe de terceiros no Angular.</p>
            <a class="wow animated fadeIn text-truncate" href="https://medium.com/@ericandrade_24404/extension-methods-em-angular-6-da9dbbd2784f" target="_blank">
                https://medium.com/@ericandrade_24404/extension-methods-em-angular-6-da9dbbd2784f
            </a>
        </div>

        <div class="my-works-card medium wow animated slideInRight">
            <h4 class="wow animated fadeIn">Angular 6 - Criando uma aplicação em lazyload com splash de carregamento</h4>
            <p class="wow animated fadeIn">Vamos criar aqui uma aplicação que roda em modo “lazy loading”, exibindo um “splash ”de carregamento.</p>
            <a class="wow animated fadeIn text-truncate" href="https://medium.com/@ericandrade_24404/angular-6-criando-uma-aplicacao-em-lazyload-com-splash-de-carregamento-e98e626954b2" target="_blank">
                https://medium.com/@ericandrade_24404/angular-6-criando-uma-aplicacao-em-lazyload-com-splash-de-carregamento-e98e626954b2
            </a>
        </div>

        <div class="my-works-card medium wow animated slideInRight">
            <h4 class="wow animated fadeIn">[PARTE 01] Criando arquitetura em camadas com DDD + Injeção de dep. + EF</h4>
            <p class="wow animated fadeIn">Artigo que mostra o conceito de DDD e como se criar uma arquitetura aplicando o paradigma do mesmo.</p>
            <a class="wow animated fadeIn text-truncate" href="https://medium.com/@ericandrade_24404/parte-01-criando-arquitetura-em-camadas-com-ddd-injecao-de-dep-ef-60b851c88461" target="_blank">
                https://medium.com/@ericandrade_24404/parte-01-criando-arquitetura-em-camadas-com-ddd-injecao-de-dep-ef-60b851c88461
            </a>
        </div>
    </section>

</section>