<section class="talk-me-page">

    <section class="talk-me-01">
        <h1 class="l-h-0-9 text-left animated slideInLeft">
            Fale comigo<br/>
            <span class="f-w-100">ou me encontre</span>
        </h1>

        <section>
            <div class="animated slideInLeft">
                <div class="wow animated fadeIn">
                    <div><img src="assets/img/icons/linkedin.svg"/></div>
                </div>
                <div class="wow animated fadeIn">
                    Linkedin<br/>
                    <a href="https://www.linkedin.com/in/eric-andrade-36565575" target="_blank">
                        /eric-andrade-36565575
                    </a>
                </div>
            </div>
    
            <div class="animated slideInLeft">
                <div class="wow animated fadeIn">
                    <div><img src="assets/img/icons/at.svg"/></div>
                </div>
                <div class="wow animated fadeIn">
                    E-mail<br/>
                    <a href="mailto:ericferreira1992@gmail.com">
                        ericferreira1992@gmail.com
                    </a>
                </div>
            </div>
    
            <div class="animated slideInLeft">
                <div class="wow animated fadeIn">
                    <div><img src="assets/img/icons/github.svg"/></div>
                </div>
                <div class="wow animated fadeIn">
                    Github<br/>
                    <a href="https://github.com/ericferreira1992?tab=repositories" target="_blank">
                        /ericferreira1992
                    </a>
                </div>
            </div>
    
            <div class="animated slideInLeft">
                <div class="wow animated fadeIn">
                    <div><img src="assets/img/icons/medium.svg#white"/></div>
                </div>
                <div class="wow animated fadeIn">
                    Medium<br/>
                    <a href="https://medium.com/@ericandrade_24404" target="_blank">
                        @ericandrade_24404
                    </a>
                </div>
            </div>
        </section>
    </section>

</section>