.color-text {
	color: var(--textColor);
}
.color-title {
	color: var(--titleColor);
}
.color-link {
	color: var(--linkColor);
}
.color-primary {
	color: var(--primaryColor);
}
.color-secondary {
	color: var(--secondaryColor);
}
.color-tertiary {
	color: var(--tertiaryColor);
}