$primaryColor: #00E1FC;
$secondaryColor: #F0F0F0;
$tertiaryColor: #EEEEEE;
$backgroundColor: #FFFFFF;
$titleColor: #414141;
$textColor: #4F4F4F;
$linkColor: darken($primaryColor, 18);

// LANGUAGES
$tsColor: #3178C6;
$jsColor: #F5D400;
$dartColor: #42A5F5;
$swiftColor: #F55723;
$phpColor: #8F9ED1;
$csharpColor: #390092;

